@{
    ViewBag.Title = "आप की क्रांति | Aap Ki Kranti";
}
<div id="content" class="content section row">
    <div class="col-md-9 col-lg-9">
        <div class="row">
            <div class="bg-base col-md-8 col-lg-8">
                <div id="latestNewsCarousel" class="section carousel carousel slide">
                    <h2 class="section-title ribbon ribbon-highlight">
                        <span>आज की खबर</span></h2>
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="entries">
                                <article class="entry style-large type-post">
									<figure class="entry-thumbnail hidden-xs">
										<a href="#">
											<!-- to disable lazy loading, remove data-src and data-src-retina -->
											<img src="../../Content/images/24_12_2013-kejriwal24.jpg" data-src="" data-src-retina="" width="680" height="400" alt="" style="opacity: 1;" />

											<!--fallback for no javascript browsers-->
											<noscript>
												&lt;img src="../../Content/images/24_12_2013-kejriwal24.jpg" alt=""&gt;
											</noscript>
										</a>
									</figure>
									<header class="entry-header">
										<h3 class="entry-title">
											<a href="#" rel="bookmark">सीधे जनता के हाथों में होगी दिल्ली की सत्ता: केजरीवाल</a>
										</h3>
										<div class="entry-meta">
											<span class="author">by <a href="#">जॉन डोए</a></span>
											<span class="entry-date"><a href="#">on <time datetime="2013-12-24T00:00:34+00:00">December 24 2013</time></a></span>
											<span class="category">In <a href="#"> राजनीति</a></span>
										</div>
									</header>
									<p>नई दिल्ली। जनलोकपाल कानून के लिए अन्ना हजारे की अगुवाई में हुए ऐतिहासिक आंदोलन से चमके अरविंद केजरीवाल दिल्ली में सरकार बनाने का दावा पेश कर चुके हैं। उप राज्यपाल से मुलाकात के बाद सरकार बनाने के बाद की चुनौतियों पर जागरण संवाददाता ने उनसे बातचीत की।
                                    </p>
                                    <div class="readmore">
										<a href="firstpost#" rel="">और पढ़ें..</a>
									</div>
								</article>
                            </div>
                            <!--/.row.entries-->
                        </div>
                        <!--/.item-->
                        <div class="item">
                            <div class="entries">
                                <article class="entry style-large type-post">
									<figure class="entry-thumbnail hidden-xs">
										<a href="#">
											<!-- to disable lazy loading, remove data-src and data-src-retina -->
											<img src="../../Content/images/14_12_2013-kejri12.jpg" data-src="" data-src-retina="" width="680" height="400" alt="" style="opacity: 1;" />

											<!--fallback for no javascript browsers-->
											<noscript>
												&lt;img src="../../Content/images/14_12_2013-kejri12.jpg" alt=""&gt;
											</noscript>
										</a>
									</figure>
									<header class="entry-header">
										<h3 class="entry-title">
											<a href="#" rel="bookmark">आप ने पूछे ये 18 सवाल</a>
										</h3>
										<div class="entry-meta">
											<span class="author">by <a href="#">जॉन डोए</a></span>
											<span class="entry-date"><a href="#">on <time datetime="2013-12-15T00:00:34+00:00">December 15 2013</time></a></span>
											<span class="category">In <a href="#"> राजनीति</a></span>
										</div>
									</header>
									<p>1. क्या कांग्रेस व भाजपा दिल्ली में वीआइपी कल्चर बंद करने में सहयोग देंगे ? <br />
2. क्या दोनों पार्टियां बिना शर्त दिल्ली में जनलोकपाल बिल पारित करने और उसे लागू करवाने में समर्थन देंगी?<br />
                                    </p>
                                    <div class="readmore">
										<a href="secondpost#" rel="">और पढ़ें..</a>
									</div>
								</article>
                            </div>
                            <!--/.row.entries-->
                        </div>
                        <!--/.item-->
                    </div>
                    <!--/.carousel-inner-->
                    <a class="left carousel-control" href="#latestNewsCarousel" data-slide="prev"><span>
                        <</span> </a><a class="right carousel-control" href="#latestNewsCarousel" data-slide="next">
                            <span>></span> </a>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 md-pull-right">
                <div class="collapsible-widgets">
                    <aside class="widget">
								<h2 class="widget-title ribbon ribbon-focus"><span>देश</span></h2>
                                <div class="entries row">
									<article class="type-post style-media-list media col-sm-6 col-md-12">
										<!-- to disable lazy loading, remove data-src and data-src-retina -->
										<img src="../../Content/images/desh_1.jpg" data-src="../../Content/images/desh_1.jpg" data-src-retina="../../Content/images/desh_1.jpg" width="80" height="80" class="media-object pull-left" alt="" style="opacity: 1;">
                                        <!--fallback for no javascript browsers-->
										<noscript>
											&lt;img src="../../Content/images/desh_1.jpg" alt=""&gt;
										</noscript>
										<div class="media-body">
											<h3 class="entry-title">
												<a href="#" rel="bookmark">हार की जीत – रवीश की रिपोर्ट (नई सड़क)</a>
											</h3>
											<div class="entry-meta">
												<span class="entry-date"><a href="#"><time datetime="2013-12-05T23:26:34+00:00">December 05,2013</time></a></span>
											</div>
										</div>
									</article>
                                
                                         <article class="type-post style-media-list media col-sm-6 col-md-12">
										<!-- to disable lazy loading, remove data-src and data-src-retina -->
										<img src="../../Content/images/desh_2.jpg" data-src="../../Content/images/desh_2.jpg" data-src-retina="../../Content/images/desh_2.jpg" width="80" height="80" class="media-object pull-left" alt="" style="opacity: 1;">
                                        <!--fallback for no javascript browsers-->
										<noscript>
											&lt;img src="../../Content/images/desh_2.jpg" alt=""&gt;
										</noscript>
										<div class="media-body">
											<h3 class="entry-title">
												<a href="#" rel="bookmark">29 दिसंबर को दिल्ली विधानसभा स्पेशल सत्र बुलाकर दिल्ली जनलोकपाल बिल पास करेंगे: अरविन्द केजरीवाल</a>
											</h3>
											<div class="entry-meta">
												<span class="entry-date"><a href="#"><time datetime="2013-10-05T23:26:34+00:00">October 05,2013</time></a></span>
											</div>
										</div>
									</article>   
                                    <article class="type-post style-media-list media col-sm-6 col-md-12">
										<!-- to disable lazy loading, remove data-src and data-src-retina -->
										<img src="../../Content/images/ChiefMinisterialCandidate-167x120.png" data-src="../../Content/images/ChiefMinisterialCandidate-167x120.png" data-src-retina="../../Content/images/ChiefMinisterialCandidate-167x120.png" width="80" height="80" class="media-object pull-left" alt="" style="opacity: 1;">
                                        <!--fallback for no javascript browsers-->
										<noscript>
											&lt;img src="../../Content/images/ChiefMinisterialCandidate-167x120.png" alt=""&gt;
										</noscript>
										<div class="media-body">
											<h3 class="entry-title">
												<a href="#" rel="bookmark">छत्‍तीसगढ़, मध्‍य प्रदेश, मिज़ोरम, राजस्‍थान और दिल्‍ली की विधानसभाओं के….</a>
											</h3>
											<div class="entry-meta">
												<span class="entry-date"><a href="#"><time datetime="2013-10-05T23:26:34+00:00">October 05,2013</time></a></span>
											</div>
										</div>
									</article>                                    
                                    </div>
                                    <div class="readmore">
										<a href="देश#" rel="">और पढ़ें..</a>
									</div>
                </aside>
                    <aside class="widget">
								<h2 class="widget-title ribbon ribbon-focus"><span>विदेश</span></h2>
                                <div class="entries row">
									<article class="type-post style-media-list media col-sm-6 col-md-12">
										<!-- to disable lazy loading, remove data-src and data-src-retina -->
										<img src="../../Content/images/aaaa-160x120.jpg" data-src="../../Content/images/aaaa-160x120.jpg" data-src-retina="../../Content/images/aaaa-160x120.jpg" width="80" height="80" class="media-object pull-left" alt="" style="opacity: 1;">
                                        <!--fallback for no javascript browsers-->
										<noscript>
											&lt;img src="../uploads/80x80_1.jpg" alt=""&gt;
										</noscript>
										<div class="media-body">
											<h3 class="entry-title">
												<a href="#" rel="bookmark">आम आदमी पार्टी ने बाल्मीकि मंदिर, आर.के आश्रम प्रांगन में चुनाव चिन्ह झाडू का लोकार्पण किया</a>
											</h3>
											<div class="entry-meta">
												<span class="entry-date"><a href="#"><time datetime="2013-08-03T23:26:34+00:00">August 3, 2013</time></a></span>
											</div>
										</div>
									</article>   
                                            <article class="type-post style-media-list media col-sm-6 col-md-12">
										<!-- to disable lazy loading, remove data-src and data-src-retina -->
										<img src="../../Content/images/arv-160x120.jpg" data-src="../../Content/images/arv-160x120.jpg" data-src-retina="../../Content/images/arv-160x120.jpg" width="80" height="80" class="media-object pull-left" alt="" style="opacity: 1;">
                                        <!--fallback for no javascript browsers-->
										<noscript>
											&lt;img src="../../Content/images/arv-160x120.jpg" alt=""&gt;
										</noscript>
										<div class="media-body">
											<h3 class="entry-title">
												<a href="#" rel="bookmark">पिछले कुछ वर्षों से देश भ्रष्टाचार के खिलाफ एकजुट हुआ है।</a>
											</h3>
											<div class="entry-meta">
												<span class="entry-date"><a href="#"><time datetime="2013-08-02T23:26:34+00:00">August 2, 2013</time></a></span>
											</div>
										</div>
									</article>  
                                    <article class="type-post style-media-list media col-sm-6 col-md-12">
										<!-- to disable lazy loading, remove data-src and data-src-retina -->
										<img src="../../Content/images/black-ship-191x120.jpg" data-src="../../Content/images/black-ship-191x120.jpg" data-src-retina="../../Content/images/black-ship-191x120.jpg" width="80" height="80" class="media-object pull-left" alt="" style="opacity: 1;">
                                        <!--fallback for no javascript browsers-->
										<noscript>
											&lt;img src="../../Content/images/black-ship-191x120.jpg" alt=""&gt;
										</noscript>
										<div class="media-body">
											<h3 class="entry-title">
												<a href="#" rel="bookmark">पहचाने “आप” के बीच की काली भेड़ों को.।</a>
											</h3>
											<div class="entry-meta">
												<span class="entry-date"><a href="#"><time datetime="2013-08-02T23:26:34+00:00">August 2, 2013</time></a></span>
											</div>
										</div>
									</article>                         
                                    </div>
                                     <div class="readmore">
										<a href="विदेश#" rel="">और पढ़ें..</a>
									</div>
                </aside>
                    <aside class="widget">
								<h2 class="widget-title ribbon ribbon-focus"><span>कुछ नया</span></h2>
                                <div class="entries row">
									<article class="type-post style-media-list media col-sm-6 col-md-12">
										<!-- to disable lazy loading, remove data-src and data-src-retina -->
										<img src="../../Content/images/14_12_2013-kejri12.jpg" data-src="../../Content/images/14_12_2013-kejri12.jpg" data-src-retina="../../Content/images/14_12_2013-kejri12.jpg" width="80" height="80" class="media-object pull-left" alt="" style="opacity: 1;">
                                        <!--fallback for no javascript browsers-->
										<noscript>
											&lt;img src="../../Content/images/14_12_2013-kejri12.jpg" alt=""&gt;
										</noscript>
										<div class="media-body">
											<h3 class="entry-title">
												<a href="#" rel="bookmark">सीधे जनता के हाथों में होगी दिल्ली की सत्ता: केजरीवाल </a>
											</h3>
											<div class="entry-meta">
												<span class="entry-date"><a href="#"><time datetime="2013-24-13T23:26:34+00:00">3 hours ago</time></a></span>
											</div>
										</div>
									</article>  
                                        <article class="type-post style-media-list media col-sm-6 col-md-12">
										<!-- to disable lazy loading, remove data-src and data-src-retina -->
										<img src="../../Content/images/jailthecorruptpng.png" data-src="../../Content/images/jailthecorruptpng.png" data-src-retina="../../Content/images/jailthecorruptpng.png" width="80" height="80" class="media-object pull-left" alt="" style="opacity: 1;">
                                        <!--fallback for no javascript browsers-->
										<noscript>
											&lt;img src="../../Content/images/jailthecorruptpng.png" alt=""&gt;
										</noscript>
										<div class="media-body">
											<h3 class="entry-title">
												<a href="#" rel="bookmark">आम आदमी पार्टी ने बदला शहादरा का उमीद्वार</a>
											</h3>
											<div class="entry-meta">
												<span class="entry-date"><a href="#"><time datetime="2013-10-13T23:26:34+00:00">October 13,2013</time></a></span>
											</div>
										</div>
									</article> 
                                    <article class="type-post style-media-list media col-sm-6 col-md-12">
										<!-- to disable lazy loading, remove data-src and data-src-retina -->
										<img src="../../Content/images/mib-160x120.jpg" data-src="../../Content/images/mib-160x120.jpg" data-src-retina="../../Content/images/mib-160x120.jpg" width="80" height="80" class="media-object pull-left" alt="" style="opacity: 1;">
                                        <!--fallback for no javascript browsers-->
										<noscript>
											&lt;img src="../../Content/images/mib-160x120.jpg" alt=""&gt;
										</noscript>
										<div class="media-body">
											<h3 class="entry-title">
												<a href="#" rel="bookmark">आम आदमी पार्टी ने की सुल्तानपुर माजरा की शार्टलिस्ट ज़ारी</a>
											</h3>
											<div class="entry-meta">
												<span class="entry-date"><a href="#"><time datetime="2013-10-13T23:26:34+00:00">October 13,2013</time></a></span>
											</div>
										</div>
									</article>                                   
                                    </div>
                                    <div class="readmore">
										<a href="कुछ-नया#" rel="">और पढ़ें..</a>
									</div>
                </aside>
                </div>
            </div>
        </div>
    </div>
    <div class="sidebar col-md-3 col-lg-3">
        <div class="collapsible-widgets">
            <aside class="widget">
						<h2 class="widget-title ribbon"><span>दिल्ली चुनाव विशेष</span></h2>
                        <div class="entries row">

							<article class="type-post style-media-list style-review-list media col-sm-6 col-md-12">

								<div class="style-review-score">
									80
								</div>							
								<img src="../../Content/images/nirvachan-186x120.jpg" data-src="../../Content/images/nirvachan-186x120.jpg" data-src-retina="../../Content/images/nirvachan-186x120.jpg" width="80" height="80" class="media-object pull-left" alt="" style="opacity: 1;" />
								
								<noscript>
									&lt;img src="../uploads/80x80_6.jpg" alt=""&gt;
								</noscript>

								<div class="media-body">
									<h3 class="entry-title">
										<a href="#" rel="bookmark">‘आम आदमी पार्टी’ ने की आदर्श नगर और मोती नगर सीटों के उम्मीदवारों की घोषणा</a>
									</h3>
									<p class="small"></p>
								</div>

							</article>
                            <article class="type-post style-media-list style-review-list media col-sm-6 col-md-12">

								<div class="style-review-score">
									80
								</div>							
								<img src="../../Content/images/aapnebigada.png" data-src="../../Content/images/aapnebigada.png" data-src-retina="../../Content/images/aapnebigada.png" width="80" height="80" class="media-object pull-left" alt="" style="opacity: 1;">
								
								<noscript>
									&lt;img src="../uploads/80x80_6.jpg" alt=""&gt;
								</noscript>

								<div class="media-body">
									<h3 class="entry-title">
										<a href="#" rel="bookmark">आम आदमी पार्टी ने बिगाड़ा कांग्रेस और बीजेपी की २० सीटों का गणित ….. कांग्रेस का सर्वे</a>
									</h3>
									<p class="small"></p>
								</div>

							</article>
                               <article class="type-post style-media-list style-review-list media col-sm-6 col-md-12">

								<div class="style-review-score">
									80
								</div>							
								<img src="../../Content/images/aam2-117x120.jpg" data-src="../../Content/images/aam2-117x120.jpg" data-src-retina="../../Content/images/aam2-117x120.jpg" width="80" height="80" class="media-object pull-left" alt="" style="opacity: 1;">
								
								<noscript>
									&lt;img src="../../Content/images/aam2-117x120.jpg" alt=""&gt;
								</noscript>

								<div class="media-body">
									<h3 class="entry-title">
										<a href="#" rel="bookmark">आम आदमी पार्टी ने किया राजिंदर नगर और मादीपुर सीट के उम्मीद्वार की घोषणा</a>
									</h3>
									<p class="small"></p>
								</div>

							</article>
                            </div>
                            <div class="readmore">
										<a href="दिल्ली-चुनाव-विशेष#" rel="">और पढ़ें..</a>
									</div>
                        </aside>
            <aside class="widget">

								<h3 class="widget-title ribbon"><span>टेग्स</span></h3>

								<div class="tagcloud">
									<a href="#"> देश </a>
									<a href="#"> विदेश </a>
									<a href="#">घोषणा-पत्र</a>
									<a href="#">राज्यों-से</a>
									<a href="#">दिल्ली-चुनाव-विशेष</a>
									<a href="#">क्रन्तिकारी-कविताएँ</a>
									<a href="#">खुलासा</a>
									<a href="#">आज-के-कार्यक्रम</a>	
                                    <a href="#">अरविंद केजेरीवल</a>	
                                    <a href="#">अन्ना हज़ारे</a>									
								</div>

							</aside>
        </div>
        <!--/.collapsible-widgets-->
        <aside id="reviewCarousel" class="widget carousel slide">

						<h2 class="widget-title ribbon"><span>आज की तस्वीरें</span></h2>

						<div class="carousel-inner">
							<div class="item active">

								<article class="entry style-grid style-review type-post">
					
									<header class="entry-header">
										<h3 class="entry-title"><a href="#"></a> </h3>
										<p class="small">दोस्तो लोकपाल पास हो गया</p>
									</header>

									<div class="style-review-score">
										
									</div>
												
									<figure class="entry-thumbnail">

										<a href="#" class="overlay overlay-primary"></a>

										<!-- to disable lazy loading, remove data-src and data-src-retina -->
										<img src="../../Content/images/Lokpal.jpg" data-src="../../Content/images/Lokpal.jpg" data-src-retina="../../Content/images/Lokpal.jpg" width="480" height="280" alt="" />

										<!--fallback for no javascript browsers-->
										<noscript>
											<img src="../../Content/images/Lokpal.jpg" alt="" />
										</noscript>

									</figure>

								</article>

							</div><!--/.item.active-->

							<div class="item">
								
								<article class="entry style-grid style-review type-post">
					
									<header class="entry-header">
										<h3 class="entry-title"><a href="#"></a> </h3>
										<p class="small">लोकतंत्र की बयार</p>
									</header>

									<div class="style-review-score">
										
									</div>
												
									<figure class="entry-thumbnail">

										<a href="#" class="overlay overlay-primary"></a>

										<!-- to disable lazy loading, remove data-src and data-src-retina -->
										<img src="../../Content/images/broom.jpg" data-src="../../Content/images/broom.jpg" data-src-retina="../../Content/images/broom.jpg" width="480" height="280" alt="">

										<!--fallback for no javascript browsers-->
										<noscript>
											<img src="../../Content/images/broom.jpg" alt="" />
										</noscript>

									</figure>

								</article>

							</div><!--/.item.active-->

						</div><!--/.carousel-inner-->

						<a class="left carousel-control" href="#reviewCarousel" data-slide="prev">
							<span><</span>
						</a>
						<a class="right carousel-control" href="#reviewCarousel" data-slide="next">
							<span>></span>
						</a>

					</aside>
        <!--/.widget.carousel-->
    </div>
</div>
<div class="content section row">
    <div id="vedioCarousel" class="section bg-primary carousel carousel slide">
        <h2 class="section-title ribbon">
            <a href="#">नये वीडियो</a></h2>
        <div class="carousel-inner">
            <div class="item active">
                <div class="row entries">
                    <article class="entry style-grid type-post col-md-6 col-lg-3 colheight-sm-1">
								
								<header class="entry-header">
									<p class="small"><a href="#">वीडियो</a></p>
									<h3 class="entry-title"><a href="http://www.youtube.com/watch?v=ULPh7BZGh6k" rel="prettyPhoto">डेल्ही एलेकशन 2013: आम आदमी पार्टी बिगिन्स 'झाडू चलाओ यात्रा !</a> </h3>
									<div class="entry-meta">
										<span class="entry-date"><a href="#"><time datetime="2013-07-04T23:26:34+00:00">10 hours ago</time></a></span>
										<span class="entry-author"> by <a href="#">सहारा न्यूज़</a></span>
									</div>
								</header>
								
								<figure class="entry-thumbnail">

									<a href="#" class="overlay overlay-primary"></a>

									<!-- to disable lazy loading, remove data-src and data-src-retina -->
									<img src="" data-src="" data-src-retina="" width="480" height="280" alt="" style="opacity: 1;">

									<!--fallback for no javascript browsers-->
									<noscript>
										&lt;img src="" alt=""&gt;
									</noscript>

								</figure>

							</article>
                    <article class="entry style-grid type-post col-md-6 col-lg-3 colheight-sm-1">

								<header class="entry-header">
									<p class="small"><a href="#">वीडियो</a></p>
									<h3 class="entry-title"><a href="http://www.youtube.com/watch?v=jjul3vNdSKE" rel="prettyPhoto">आपकी राय, AAP कि सरकार</a> </h3>
									<div class="entry-meta">
										<span class="entry-date"><a href="#"><time datetime="2013-07-04T23:26:34+00:00">5 hours ago</time></a></span>
										<span class="entry-author"> by <a href="#">सहारा न्यूज़</a></span>
									</div>
								</header>
								
								<figure class="entry-thumbnail">

									<a href="#" class="overlay overlay-primary"></a>

									<!-- to disable lazy loading, remove data-src and data-src-retina -->
									<img src="" data-src="" data-src-retina="" width="680" height="452" alt="" style="opacity: 1;">

									<!--fallback for no javascript browsers-->
									<noscript>
										&lt;img src="" alt=""&gt;
									</noscript>

								</figure>

							</article>
                    <article class="entry style-grid type-post col-md-6 col-lg-3 colheight-sm-1">
								<header class="entry-header">
									<p class="small"><a href="#">वीडियो</a></p>
									<h3 class="entry-title"><a href="http://www.youtube.com/watch?v=VIr5eTrGj0o" rel="prettyPhoto">घोटालों की है सरकार: कुमार विश्वास</a> </h3>
									<div class="entry-meta">
										<span class="entry-date"><a href="#"><time datetime="2013-07-04T23:26:34+00:00">7 hours ago</time></a></span>
										<span class="entry-author"> by <a href="#">ABP न्यूज़</a></span>
									</div>
								</header>

								<figure class="entry-thumbnail">

									<a href="#" class="overlay overlay-primary"></a>

									<!-- to disable lazy loading, remove data-src and data-src-retina -->
									<img src="" data-src="" data-src-retina="" width="480" height="280" alt="" style="opacity: 1;">

									<!--fallback for no javascript browsers-->
									<noscript>
										&lt;img src="" alt=""&gt;
									</noscript>

								</figure>

							</article>
                    <article class="entry style-grid type-post col-md-6 col-lg-3 colheight-sm-1">
								<header class="entry-header">
									<p class="small"><a href="#">वीडियो</a></p>
									<h3 class="entry-title"><a href="http://www.youtube.com/watch?v=aYwILpzFlXE" rel="prettyPhoto">सरकार ने लोकपाल कानून को और कमजोर कर दिया: केजरीवाल</a> </h3>
									<div class="entry-meta">
										<span class="entry-date"><a href="#"><time datetime="2013-07-04T23:26:34+00:00">12 hours ago</time></a></span>
										<span class="entry-author"> by <a href="#">संजीव शर्मा</a></span>
									</div>
								</header>
								
								<figure class="entry-thumbnail">

									<a href="#" class="overlay overlay-primary"></a>

									<!-- to disable lazy loading, remove data-src and data-src-retina -->
									<img src="" data-src="#" data-src-retina="" width="480" height="280" alt="" style="opacity: 1;">

									<!--fallback for no javascript browsers-->
									<noscript>
										&lt;img src="" alt=""&gt;
									</noscript>

								</figure>

							</article>
                </div>
                <!--/.row.entries-->
            </div>
            <!--/.item-->
            <div class="item">
                <div class="row entries">
                    <article class="entry style-grid type-post col-md-6 col-lg-3 colheight-sm-1">
								<header class="entry-header">
									<p class="small"><a href="#">वीडियो</a></p>
									<h3 class="entry-title"><a href="http://www.youtube.com/watch?v=8uH_XMPOVC4" rel="prettyPhoto">दिल्ली के दिल में क्या है - आज तक - फुल वीडियो</a> </h3>
									<div class="entry-meta">
										<span class="entry-date"><a href="#"><time datetime="2013-07-04T23:26:34+00:00">2 month ago</time></a></span>
										<span class="entry-author"> by <a href="#">विक्रमजीत कपूर</a></span>
									</div>
								</header>
								
								<figure class="entry-thumbnail">

									<a href="#" class="overlay overlay-primary"></a>

									<!-- to disable lazy loading, remove data-src and data-src-retina -->
									<img src="" data-src="" data-src-retina="" width="480" height="280" alt="" style="opacity: 1;">

									<!--fallback for no javascript browsers-->
									<noscript>
										&lt;img src="" alt=""&gt;
									</noscript>

								</figure>

							</article>
                    <article class="entry style-grid type-post col-md-6 col-lg-3 colheight-sm-1">
								<header class="entry-header">
									<p class="small"><a href="#">वीडियो</a></p>
									<h3 class="entry-title"><a href="http://www.youtube.com/watch?v=Nj-cLaCC0KE" rel="prettyPhoto">Everything you want to know about Aam Aadmi Party</a> </h3>
									<div class="entry-meta">
										<span class="entry-date"><a href="#"><time datetime="2013-07-04T23:26:34+00:00">20 days ago</time></a></span>
										<span class="entry-author"> by <a href="#">आम आदमी</a></span>
									</div>
								</header>
								
								<figure class="entry-thumbnail">

									<a href="#" class="overlay overlay-primary"></a>

									<!-- to disable lazy loading, remove data-src and data-src-retina -->
									<img src="" data-src="" data-src-retina="" width="480" height="280" alt="" style="opacity: 1;">

									<!--fallback for no javascript browsers-->
									<noscript>
										&lt;img src="" alt=""&gt;
									</noscript>

								</figure>

							</article>
                    <article class="entry style-grid type-post col-md-6 col-lg-3 colheight-sm-1">
								
								<header class="entry-header">
									<p class="small"><a href="#">वीडियो</a></p>
									<h3 class="entry-title"><a href="http://www.youtube.com/watch?v=b5PYGT8Ffu8" rel="prettyPhoto">IBN7 के साथ अरविंद केजरीवाल की खास बातचीत</a> </h3>
									<div class="entry-meta">
										<span class="entry-date"><a href="#"><time datetime="2013-07-04T23:26:34+00:00">12 hours ago</time></a></span>
										<span class="entry-author"> by <a href="#">IBN7</a></span>
									</div>
								</header>
								
								<figure class="entry-thumbnail">

									<a href="#" class="overlay overlay-primary"></a>

									<!-- to disable lazy loading, remove data-src and data-src-retina -->
									<img src="" data-src="" data-src-retina="" width="480" height="280" alt="" style="opacity: 1;">

									<!--fallback for no javascript browsers-->
									<noscript>
										&lt;img src="" alt=""&gt;
									</noscript>

								</figure>

							</article>
                    <article class="entry style-grid type-post col-md-6 col-lg-3 colheight-sm-1">

								<header class="entry-header">
									<p class="small"><a href="#">वीडियो</a></p>
									<h3 class="entry-title"><a href="http://www.youtube.com/watch?v=kW8sQtFtzVg" rel="prettyPhoto">Arvind Kejriwal turns down Z-plus level security and other headlines.</a> </h3>
									<div class="entry-meta">
										<span class="entry-date"><a href="#"><time datetime="2013-07-04T23:26:34+00:00">12 hours ago</time></a></span>
										<span class="entry-author"> by <a href="#">DDNewsofficial</a></span>
									</div>
								</header>
								
								<figure class="entry-thumbnail">

									<a href="#" class="overlay overlay-primary"></a>

									<!-- to disable lazy loading, remove data-src and data-src-retina -->
									<img src="" data-src="" data-src-retina="" width="680" height="452" alt="" style="opacity: 1;">

									<!--fallback for no javascript browsers-->
									<noscript>
										&lt;img src="" alt=""&gt;
									</noscript>

								</figure>

							</article>
                </div>
                <!--/.row.entries-->
            </div>
        </div>
        <a class="left carousel-control" href="#vedioCarousel" data-slide="prev"><span><</span>
        </a><a class="right carousel-control" href="#vedioCarousel" data-slide="next"><span>
            ></span> </a>
    </div>
</div>
